In [329]:
import numpy as np
import tensorflow as tf
import pandas as pd
from tensorflow import keras
from tensorflow.keras import layers,regularizers
from sklearn.preprocessing import LabelEncoder

In [330]:
training_set = pd.read_excel('train_matches.xlsx').set_index('id')
training_set = training_set.loc[:,'city':'win_by_wickets']
training_set['toss_decision'] =  (training_set['toss_decision']=='field').astype(float)
training_set['result'] = (training_set['result']=='normal').astype(int)
for i in range(1,637):
    training_set.loc[i,'month'] = training_set.loc[i,'date'].month/12
    training_set.loc[i,'day'] = training_set.loc[i,'date'].day/30
training_set

,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,month,day
id,,,,,,,,,,,,,
1,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,1.0,1,0,Sunrisers Hyderabad,35,0,0.333333,0.166667
2,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,1.0,1,0,Rising Pune Supergiant,0,7,0.333333,0.200000
3,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,1.0,1,0,Kolkata Knight Riders,0,10,0.333333,0.233333
4,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,1.0,1,0,Kings XI Punjab,0,6,0.333333,0.266667
5,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,0.0,1,0,Royal Challengers Bangalore,15,0,0.333333,0.266667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,1.0,1,0,Royal Challengers Bangalore,0,6,0.416667,0.733333
633,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,1.0,1,0,Royal Challengers Bangalore,0,4,0.416667,0.800000
634,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,1.0,1,0,Sunrisers Hyderabad,22,0,0.416667,0.833333
635,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,1.0,1,0,Sunrisers Hyderabad,0,4,0.416667,0.900000
636,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,0.0,1,0,Sunrisers Hyderabad,8,0,0.416667,0.966667

In [331]:
df = pd.read_excel('train_deliveries.xlsx').set_index(['match_id','inning'])
df

                                batting_team                 bowling_team  \
match_id inning
1        1               Sunrisers Hyderabad  Royal Challengers Bangalore
         1               Sunrisers Hyderabad  Royal Challengers Bangalore
         1               Sunrisers Hyderabad  Royal Challengers Bangalore
         1               Sunrisers Hyderabad  Royal Challengers Bangalore
         1               Sunrisers Hyderabad  Royal Challengers Bangalore
...                                      ...                          ...
636      2       Royal Challengers Bangalore          Sunrisers Hyderabad
         2       Royal Challengers Bangalore          Sunrisers Hyderabad
         2       Royal Challengers Bangalore          Sunrisers Hyderabad
         2       Royal Challengers Bangalore          Sunrisers Hyderabad
         2       Royal Challengers Bangalore          Sunrisers Hyderabad

                 over  ball        batsman    non_striker    bowler  \
match_id inning
1        1          1     1      DA Warner       S Dhawan  TS Mills
         1          1     2      DA Warner       S Dhawan  TS Mills
         1          1     3      DA Warner       S Dhawan  TS Mills
         1          1     4      DA Warner       S Dhawan  TS Mills
         1          1     5      DA Warner       S Dhawan  TS Mills
...               ...   ...            ...            ...       ...
636      2         20     2    Sachin Baby      CJ Jordan   B Kumar
         2         20     3    Sachin Baby      CJ Jordan   B Kumar
         2         20     4  Iqbal Abdulla    Sachin Baby   B Kumar
         2         20     5    Sachin Baby  Iqbal Abdulla   B Kumar
         2         20     6  Iqbal Abdulla    Sachin Baby   B Kumar

                 is_super_over  wide_runs  bye_runs  legbye_runs  noball_runs  \
match_id inning
1        1                   0          0         0            0            0
         1                   0          0         0            0            0
         1                   0          0         0            0            0
         1                   0          0         0            0            0
         1                   0          2         0            0            0
...                        ...        ...       ...          ...          ...
636      2                   0          0         0            0            0
         2                   0          0         0            0            0
         2                   0          0         0            1            0
         2                   0          0         0            0            0
         2                   0          0         0            0            0

                 penalty_runs  batsman_runs  extra_runs  total_runs  \
match_id inning
1        1                  0             0           0           0
         1                  0             0           0           0
         1                  0             4           0           4
         1                  0             0           0           0
         1                  0             0           2           2
...                       ...           ...         ...         ...
636      2                  0             2           0           2
         2                  0             0           0           0
         2                  0             0           1           1
         2                  0             1           0           1
         2                  0             4           0           4

                player_dismissed dismissal_kind  fielder
match_id inning
1        1                   NaN            NaN      NaN
         1                   NaN            NaN      NaN
         1                   NaN            NaN      NaN
         1                   NaN            NaN      NaN
         1                   NaN            NaN      NaN
...                          ...            ...      ...
636      2                   NaN            NaN      NaN
         2             CJ Jordan        run out  NV Ojha
         2                   NaN            NaN      NaN
         2                   NaN            NaN      NaN
         2                   NaN            NaN      NaN

[150460 rows x 19 columns]

In [332]:
for i in range(1,637):
    try:
        t1 = df.loc[i].loc[1]
        t2 = df.loc[i].loc[2]
    except:
        continue
    runs1 = sum(t1.loc[:,'total_runs'])
    runs2 = sum(t2.loc[:,'total_runs'])
    wick1 = t1.loc[:,'player_dismissed'].count()
    wick2 = t2.loc[:,'player_dismissed'].count()
    fours1 = t1.loc[t1['batsman_runs']==4,'batsman_runs'].count()
    fours2 = t2.loc[t2['batsman_runs']==4,'batsman_runs'].count()
    six1 = t1.loc[t1['batsman_runs']==6,'batsman_runs'].count()
    six2 = t2.loc[t2['batsman_runs']==6,'batsman_runs'].count()
    if training_set.loc[i,'team1']==t1.iloc[0,0]:
        training_set.loc[i,'runs1'] = runs1
        training_set.loc[i,'runs2'] = runs2
        training_set.loc[i,'wickets1'] = wick1
        training_set.loc[i,'wickets2'] = wick2
        training_set.loc[i,'fours1'] = fours1
        training_set.loc[i,'fours2'] = fours2
        training_set.loc[i,'sixes1'] = six1
        training_set.loc[i,'sixes2'] = six2
    else:
        training_set.loc[i,'runs1'] = runs2
        training_set.loc[i,'runs2'] = runs1
        training_set.loc[i,'wickets1'] = wick2
        training_set.loc[i,'wickets2'] = wick1
        training_set.loc[i,'fours1'] = fours2
        training_set.loc[i,'fours2'] = fours1
        training_set.loc[i,'sixes1'] = six2
        training_set.loc[i,'sixes2'] = six1
    training_set.loc[i,'toss_winner'] = int(training_set.loc[i,'toss_winner']==training_set.loc[i,'team1'])
    training_set.loc[i,'winner'] = int(training_set.loc[i,'winner']==training_set.loc[i,'team1'])

In [334]:
training_set = training_set.replace({'Chandigarh':'Mohali','Deccan Chargers':'Sunrisers Hyderabad', 'Pune Warriors':'Rising Pune Supergiant'})

In [335]:
training_set = training_set.dropna()
training_set

,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,...,month,day,runs1,runs2,wickets1,wickets2,fours1,fours2,sixes1,sixes2
id,,,,,,,,,,,,,,,,,,,,,
1,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,0,1.0,1,0,1.0,35,...,0.333333,0.166667,207.0,172.0,4.0,10.0,17.0,15.0,9.0,8.0
2,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,0,1.0,1,0,0.0,0,...,0.333333,0.200000,184.0,187.0,8.0,3.0,12.0,18.0,11.0,6.0
3,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,0,1.0,1,0,0.0,0,...,0.333333,0.233333,183.0,184.0,4.0,0.0,20.0,18.0,6.0,8.0
4,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,0,1.0,1,0,0.0,0,...,0.333333,0.266667,163.0,164.0,6.0,4.0,11.0,11.0,7.0,9.0
5,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,1,0.0,1,0,1.0,15,...,0.333333,0.266667,157.0,142.0,8.0,9.0,14.0,10.0,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,0,1.0,1,0,0.0,0,...,0.416667,0.733333,138.0,139.0,8.0,4.0,9.0,13.0,3.0,2.0
633,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,0,1.0,1,0,0.0,0,...,0.416667,0.800000,158.0,159.0,10.0,6.0,12.0,12.0,8.0,7.0
634,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,0,1.0,1,0,1.0,22,...,0.416667,0.833333,162.0,140.0,8.0,8.0,14.0,8.0,7.0,3.0
635,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,0,1.0,1,0,0.0,0,...,0.416667,0.900000,162.0,163.0,7.0,6.0,22.0,15.0,3.0,7.0
636,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,1,0.0,1,0,1.0,8,...,0.416667,0.966667,208.0,200.0,7.0,7.0,20.0,12.0,10.0,13.0

In [336]:
test_set = pd.read_excel('test.xlsx')
test_set['toss_decision'] = (test_set['toss_decision']=='field').astype(int)
for i in range(120):
    test_set.loc[i,'month'] = test_set.loc[i,'date'].month/12
    test_set.loc[i,'day'] = test_set['date'][i].day/30
test_set = test_set.loc[:,['season','id','city','team1','team2','toss_winner','toss_decision','month','day']]
test_set = test_set.set_index('id')
for i in range(120):
    test_set.iloc[i,4] = int(test_set.iloc[i,4]==test_set.iloc[i,2])
test_set

,season,city,team1,team2,toss_winner,toss_decision,month,day
id,,,,,,,,
7894,2018,Mumbai,Mumbai Indians,Chennai Super Kings,0,1,0.333333,0.233333
7895,2018,Mohali,Delhi Daredevils,Kings XI Punjab,0,1,0.333333,0.266667
7896,2018,Kolkata,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,0.333333,0.266667
7897,2018,Hyderabad,Rajasthan Royals,Sunrisers Hyderabad,0,1,0.333333,0.300000
7898,2018,Chennai,Kolkata Knight Riders,Chennai Super Kings,0,1,0.333333,0.333333
...,...,...,...,...,...,...,...,...
11347,2019,Mumbai,Kolkata Knight Riders,Mumbai Indians,0,1,0.416667,0.166667
11412,2019,Chennai,Chennai Super Kings,Mumbai Indians,1,0,0.416667,0.233333
11413,2019,Visakhapatnam,Sunrisers Hyderabad,Delhi Daredevils,0,1,0.416667,0.266667
11414,2019,Visakhapatnam,Delhi Daredevils,Chennai Super Kings,0,1,0.416667,0.333333
11415,2019,Hyderabad,Mumbai Indians,Chennai Super Kings,1,0,0.416667,0.400000

In [337]:
t = pd.concat([training_set.loc[:,['city','team1','team2','toss_winner','toss_decision','month','day']],test_set.iloc[:,1:]],ignore_index=True)
encoder = LabelEncoder()
t['city'] = encoder.fit_transform(t['city'])
t['team1'] = encoder.fit_transform(t['team1'])
t['team2'] = encoder.fit_transform(t['team2'])
t.iloc[:626,-1] = encoder.fit_transform(t.iloc[:626,-1])
training_x = np.array(t.iloc[:627,:]).astype(float)
test_x = np.array(t.iloc[627:747,:]).astype(float)
training_y = np.array(training_set.loc[:,'winner':'win_by_wickets']).astype(float)

In [338]:
batsmen_win=training_y[:,1].sum()/training_set[training_set['win_by_runs']>0].count()[0]
training_y[:,1] /= 50
training_y[:,2] /= 10
training_y

array([[1.  , 0.7 , 0.  ],
       [0.  , 0.  , 0.7 ],
       [0.  , 0.  , 1.  ],
       ...,
       [1.  , 0.44, 0.  ],
       [0.  , 0.  , 0.4 ],
       [1.  , 0.16, 0.  ]])

In [ ]:
model = keras.Sequential([keras.layers.Dense(100,activation='relu'),
                          keras.layers.Dense(32,activation='relu'),
                          keras.layers.Dense(16,activation='relu'),
                         keras.layers.Dense(3,activation='sigmoid')])
model.compile(optimizer='adam',loss='mse',metrics=['accuracy'])
model.fit(training_x,training_y,epochs=500)

Epoch 1/500
20/20 [==============================] - 2s 4ms/step - loss: 0.2761 - accuracy: 0.4662
Epoch 2/500
20/20 [==============================] - 0s 3ms/step - loss: 0.2149 - accuracy: 0.4366
Epoch 3/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1914 - accuracy: 0.4739
Epoch 4/500
20/20 [==============================] - 0s 3ms/step - loss: 0.2067 - accuracy: 0.3953
Epoch 5/500
20/20 [==============================] - 0s 4ms/step - loss: 0.2004 - accuracy: 0.4316
Epoch 6/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1892 - accuracy: 0.4656
Epoch 7/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1978 - accuracy: 0.4559
Epoch 8/500
20/20 [==============================] - 0s 3ms/step - loss: 0.2058 - accuracy: 0.4703
Epoch 9/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1945 - accuracy: 0.4291
Epoch 10/500
20/20 [==============================] - 0s 4ms/step - loss: 0.1993 - accuracy: 0.4457
Epoch 11/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1947 - accuracy: 0.3935
Epoch 12/500
20/20 [==============================] - 0s 4ms/step - loss: 0.1964 - accuracy: 0.4400
Epoch 13/500
20/20 [==============================] - 0s 2ms/step - loss: 0.2007 - accuracy: 0.4533
Epoch 14/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1978 - accuracy: 0.4505
Epoch 15/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1941 - accuracy: 0.4128
Epoch 16/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1875 - accuracy: 0.4341
Epoch 17/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1889 - accuracy: 0.5072
Epoch 18/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1936 - accuracy: 0.4443
Epoch 19/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1939 - accuracy: 0.5134
Epoch 20/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1972 - accuracy: 0.4264
Epoch 21/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1904 - accuracy: 0.5015
Epoch 22/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1888 - accuracy: 0.3902
Epoch 23/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1910 - accuracy: 0.4860
Epoch 24/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1932 - accuracy: 0.4553
Epoch 25/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1846 - accuracy: 0.5086
Epoch 26/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1929 - accuracy: 0.4821
Epoch 27/500
20/20 [==============================] - 0s 4ms/step - loss: 0.2016 - accuracy: 0.4827
Epoch 28/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1935 - accuracy: 0.4141
Epoch 29/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1943 - accuracy: 0.4385
Epoch 30/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1821 - accuracy: 0.4513
Epoch 31/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1907 - accuracy: 0.4703
Epoch 32/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1872 - accuracy: 0.4379
Epoch 33/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1870 - accuracy: 0.4862: 0s - loss: 0.1868 - accuracy: 0.48
Epoch 34/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1863 - accuracy: 0.5142
Epoch 35/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1849 - accuracy: 0.5245
Epoch 36/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1890 - accuracy: 0.5049
Epoch 37/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1896 - accuracy: 0.5082
Epoch 38/500
20/20 [==============================] - 0s 4ms/step - loss: 0.1942 - accuracy: 0.4530
Epoch 39/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1884 - accuracy: 0.5336
Epoch 40/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1718 - accuracy: 0.4978
Epoch 41/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1760 - accuracy: 0.5175
Epoch 42/500
20/20 [==============================] - 0s 3ms/step - loss: 0.2011 - accuracy: 0.4893
Epoch 43/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1668 - accuracy: 0.5584
Epoch 44/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1825 - accuracy: 0.5496
Epoch 45/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1837 - accuracy: 0.5452
Epoch 46/500
20/20 [==============================] - ETA: 0s - loss: 0.1920 - accuracy: 0.57 - 0s 3ms/step - loss: 0.1912 - accuracy: 0.5641
Epoch 47/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1966 - accuracy: 0.5185
Epoch 48/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1791 - accuracy: 0.5697
Epoch 49/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1916 - accuracy: 0.5773
Epoch 50/500
20/20 [==============================] - 0s 3ms/step - loss: 0.2131 - accuracy: 0.5225
Epoch 51/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1863 - accuracy: 0.5049
Epoch 52/500
20/20 [==============================] - 0s 4ms/step - loss: 0.1745 - accuracy: 0.5039
Epoch 53/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1847 - accuracy: 0.5417
Epoch 54/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1761 - accuracy: 0.5181
Epoch 55/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1786 - accuracy: 0.4977
Epoch 56/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1946 - accuracy: 0.5032
Epoch 57/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1856 - accuracy: 0.5689
Epoch 58/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1749 - accuracy: 0.5131
Epoch 59/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1905 - accuracy: 0.5069
Epoch 60/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1816 - accuracy: 0.5716
Epoch 61/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1664 - accuracy: 0.5521
Epoch 62/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1690 - accuracy: 0.5181
Epoch 63/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1883 - accuracy: 0.5451
Epoch 64/500
20/20 [==============================] - 0s 4ms/step - loss: 0.1837 - accuracy: 0.5122
Epoch 65/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1746 - accuracy: 0.5690
Epoch 66/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1889 - accuracy: 0.5562
Epoch 67/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1924 - accuracy: 0.5188
Epoch 68/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1578 - accuracy: 0.5340
Epoch 69/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1753 - accuracy: 0.5088
Epoch 70/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1747 - accuracy: 0.5973
Epoch 71/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1781 - accuracy: 0.5519
Epoch 72/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1822 - accuracy: 0.5592
Epoch 73/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1739 - accuracy: 0.5848
Epoch 74/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1686 - accuracy: 0.5862
Epoch 75/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1638 - accuracy: 0.5404
Epoch 76/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1905 - accuracy: 0.5358
Epoch 77/500
20/20 [==============================] - 0s 4ms/step - loss: 0.1726 - accuracy: 0.5933
Epoch 78/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1750 - accuracy: 0.5813
Epoch 79/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1634 - accuracy: 0.5931
Epoch 80/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1563 - accuracy: 0.6018
Epoch 81/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1841 - accuracy: 0.6177
Epoch 82/500

20/20 [==============================] - 0s 2ms/step - loss: 0.1728 - accuracy: 0.6242
Epoch 83/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1659 - accuracy: 0.5599
Epoch 84/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1686 - accuracy: 0.6334
Epoch 85/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1735 - accuracy: 0.5569
Epoch 86/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1751 - accuracy: 0.5365
Epoch 87/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1609 - accuracy: 0.5628
Epoch 88/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1738 - accuracy: 0.5833
Epoch 89/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1581 - accuracy: 0.6153
Epoch 90/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1849 - accuracy: 0.5829
Epoch 91/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1682 - accuracy: 0.6210
Epoch 92/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1637 - accuracy: 0.6276
Epoch 93/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1789 - accuracy: 0.6303
Epoch 94/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1646 - accuracy: 0.6043
Epoch 95/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1752 - accuracy: 0.5983
Epoch 96/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1732 - accuracy: 0.5988
Epoch 97/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1724 - accuracy: 0.5819
Epoch 98/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1590 - accuracy: 0.6212
Epoch 99/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1678 - accuracy: 0.6471
Epoch 100/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1784 - accuracy: 0.6089
Epoch 101/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1513 - accuracy: 0.6167
Epoch 102/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1685 - accuracy: 0.6259
Epoch 103/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1708 - accuracy: 0.6375
Epoch 104/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1696 - accuracy: 0.6233
Epoch 105/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1760 - accuracy: 0.6046
Epoch 106/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1525 - accuracy: 0.6171
Epoch 107/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1575 - accuracy: 0.6310
Epoch 108/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1570 - accuracy: 0.6394
Epoch 109/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1592 - accuracy: 0.6253
Epoch 110/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1551 - accuracy: 0.5978
Epoch 111/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1719 - accuracy: 0.6062
Epoch 112/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1460 - accuracy: 0.6448
Epoch 113/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1636 - accuracy: 0.6081
Epoch 114/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1503 - accuracy: 0.6131
Epoch 115/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1512 - accuracy: 0.6235
Epoch 116/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1625 - accuracy: 0.6154
Epoch 117/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1612 - accuracy: 0.6497
Epoch 118/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1491 - accuracy: 0.6359
Epoch 119/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1540 - accuracy: 0.6581
Epoch 120/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1564 - accuracy: 0.6536
Epoch 121/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1702 - accuracy: 0.5933
Epoch 122/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1680 - accuracy: 0.6294
Epoch 123/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1606 - accuracy: 0.6189
Epoch 124/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1559 - accuracy: 0.6287
Epoch 125/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1451 - accuracy: 0.6709
Epoch 126/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1509 - accuracy: 0.6595
Epoch 127/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1644 - accuracy: 0.5953
Epoch 128/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1435 - accuracy: 0.6469
Epoch 129/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1552 - accuracy: 0.6685
Epoch 130/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1531 - accuracy: 0.6407
Epoch 131/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1462 - accuracy: 0.6200
Epoch 132/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1627 - accuracy: 0.5791
Epoch 133/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1701 - accuracy: 0.6126
Epoch 134/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1509 - accuracy: 0.6685
Epoch 135/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1603 - accuracy: 0.6352
Epoch 136/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1544 - accuracy: 0.6707
Epoch 137/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1597 - accuracy: 0.6642
Epoch 138/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1577 - accuracy: 0.6485
Epoch 139/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1505 - accuracy: 0.6712
Epoch 140/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1673 - accuracy: 0.6247
Epoch 141/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1647 - accuracy: 0.6682
Epoch 142/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1456 - accuracy: 0.6686
Epoch 143/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1493 - accuracy: 0.6518
Epoch 144/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1395 - accuracy: 0.6753
Epoch 145/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1496 - accuracy: 0.6630
Epoch 146/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1493 - accuracy: 0.6203
Epoch 147/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1387 - accuracy: 0.6368
Epoch 148/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1449 - accuracy: 0.6773
Epoch 149/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1451 - accuracy: 0.6455
Epoch 150/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1430 - accuracy: 0.6734
Epoch 151/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1501 - accuracy: 0.6463
Epoch 152/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1476 - accuracy: 0.6594
Epoch 153/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1465 - accuracy: 0.6388
Epoch 154/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1622 - accuracy: 0.6465
Epoch 155/500
20/20 [==============================] - 0s 2ms/step - loss: 0.1360 - accuracy: 0.6999
Epoch 156/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1345 - accuracy: 0.6677
Epoch 157/500
20/20 [==============================] - 0s 3ms/step - loss: 0.1507 - accuracy: 0.6673
Epoch 158/500
 1/20 [>.............................] - ETA: 0s - loss: 0.0976 - accuracy: 0.7188

In [ ]:
test_y = model.predict(test_x)
test_y[:,1] *= 50
test_y[:,2] *= 10
test_y = test_y.round()

In [ ]:
result = test_set
result['winner'] = test_y[:,0]
result['win_by_runs'] = test_y[:,1]
result['win_by_wickets'] = test_y[:,2]
for i in range(120):
    result.iloc[i,8] = result.iloc[i,2] if result.iloc[i,8] else result.iloc[i,3]
season1 = result[result['season']==2018]
season1 = season1.iloc[:-4,:]
season2 = result[result['season']==2019]
season2 = season2.iloc[:-4,:]
season1

In [ ]:
season2